@import 'tailwindcss';

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #ffffff;
  --color-black: rgba(10, 10, 10, 1);
  --color-midnight: #121063;
  --color-metal: #565584;
  --color-tahiti: #3ab7bf;
  --color-silver: #ecebff;
  --color-bubblegum: #ff77e9;
  --color-bermuda: #78dcca;
  --color-red: rgba(255, 0, 0, 1);
  --color-blue: rgba(0, 100, 200, 1);

  --font-family-sans: var(--font-inter), system-ui, sans-serif;
  --font-family-mono: var(--font-roboto-mono), monospace;

  --animate-spin-slow: spin 3s linear infinite;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a:not(.no-underline) {
  background:
    linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
    linear-gradient(to right, rgba(0, 100, 200, 1), #ff77e9);
  background-size:
    100% 3px,
    0 1px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

@media only screen and (min-width: 768px) {
  a:not(.no-underline):hover {
    background-size:
      0 3px,
      100% 1px;
  }
}

hr {
  background: linear-gradient(to right, #ff77e9, rgba(0, 100, 200, 1));
  height: 1px;
  width: 120px;
  border: 0;
  margin: 16px auto;
}

.safari-fix {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
