.fancy-border {
  height: 100%;
  border: double 2px transparent;
  border-radius: 1.5rem;
  background-image: linear-gradient(white, white),
    radial-gradient(
      circle at top left,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
