.text-neon {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.text-neon-title {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.svg-neon {
  filter: drop-shadow(0px 0px 3px #fff);
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}

.text-shine {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 5s ease infinite forwards;
}
